<body>
    <main>
        <div class="container__banner__top"></div>
        <h1 class="title__cardapio">CARDÁPIO <img src="/upload/img/iconePizza.png" alt=""></h1>
        <div class="box">
            {{#each products}}
            <section class="container__cardapio">
                <form action="/cardapio" method="Post" name="cardapioPedido">
                    <div class="item__pizza">
                        <h5 class="cardapio__nome__pizza"> Pizza {{id_prod}} - {{name_prod}}</h5>
                        <input type="hidden" name="id_prod" value="{{id_prod}}">
                        <input type="hidden" name="name_prod" value="{{name_prod}}">
                    </div>
                    <div class="container__info__pizza">
                       <div class="c-container__ingredientes">
                        {{#if image}}
                        <div class="container__img__pizza">
                            <img src="{{image_prod}}">
                        </div>
                        {{else}}
                        <div class="container__img__pizza">
                            <img src="/upload/img/iconePizza.png" alt="">
                        </div>
                        {{/if}}
                        <p class="item__ingredientes">Ingredientes: {{description_prod}} </p>
                        </div>
                        <div class="c-container__slice">
                         <input type="hidden" value="">
                        <label class="btn-slice">
                            <p>6 Pedaços</p>
                            <p>R$ {{price_Small}} </p>
                            <input class="sliceinput" type="radio" name="sliceprice" value="6"
                                onchange="this.form.submit()">
                        </label>
                        <input type="hidden" name="qnt_slice" value="">
                        </label>
                        <label class="btn-slice">
                            <p>8 Pedaços</p>
                            <p>R$ {{price_Medium}} </p>
                            <input type="radio" name="sliceprice" value="{{price_Medium}}"
                                onchange="this.form.submit()">
                        </label>
                        </label>
                        <label class="btn-slice">
                            <p>10 Pedaços</p>
                            <p>R$ {{price_Large}} </p>
                            <input type="radio" name="sliceprice" value="{{price_Large}}" onchange="this.form.submit()">
                        </label>
                        </label>
                        </div>
                    </div>
                </form>
            </section>
            {{/each}}
    </main>
    <script>
        const valorAlter = document.getElementsByName("qnt_slice")
        const formulario = document.forms['cardapioPedido'];
        formulario.addEventListener('submit', function (event) {
            event.preventDefault();
            const cardapioPedido = document.querySelector('input[name="sliceprice"]:checked');
            console.log(cardapioPedido);
            if (cardapioPedido.value === "6") {
                const valorAlter.value = "6"
            }
        });
    </script>
</body>