<main>
  <header class="header__main">
    <h1 class="header__title">Finalizar a Compra</h1>
  </header>
  <section class="formulario">
    <h2 class="header__title">Formas de Pagamento</h2>
    <form  class="section__formulario" name="formadepagamento">
      <div class="conteiner-escolhas__pagamentos">
        <div class="conteiner-formas__pagamento">
          <label for="cartaodecredito" class="formulario__label" id="label__credito">Cartão de Crédito</label>
          <input class="c-radio" type="radio" name="Name" id="cartaodecredito" value="cartaocredito"/>
        </div>
        <div class="conteiner-formas__pagamento">
          <label for="cartaodedebito" class="formulario__label" id="label__debito">Cartão de Débito</label>
          <input class="c-radio" type="radio" name="Name" id="cartaodedebito" value="cartaodebito"/>
        </div>
        <div class="conteiner-formas__pagamento">
          <label for="pix" class="formulario__label" id="label__pix">Pix</label>
          <input class="c-radio" type="radio" name="Name" id="pix" value="pix"/>
        </div>
      </div>
    <section class="resumo__pedido">
      <h2 class="header__title">Resumo do Pedido</h2>
      <div class="formulario__section">
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Número do Pedido</p>
          <span class="itensDoPedido">{{orders.id_order}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Quantidade de Pedaços</p>
          <span class="itensDoPedido">{{orders.qnt_slice}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Sabores</p>
          <span class="itensDoPedido">{{orders.qnt_flavor}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Espessura da Massa</p>
          <span class="itensDoPedido">{{orders.type_pasta}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Tipo de Borda</p>
          <span class="itensDoPedido">{{orders.type_border}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Adicionais</p>
          <span class="itensDoPedido">{{orders.item_add_1}}  &  {{orders.item_add_2}}</span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Observações</p>
          <div class="observacao" cols="30" rows="5">{{orders.obs}}</div>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Subtotal</p>
          <span class="itensDoPedido"></span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">Cupom de Desconto</p>
          <span class="itensDoPedido"></span>
        </div>
        <div class="mini-conteiner__label__input">
          <p class="formulario__label">TOTAL</p>
          <span class="itensDoPedido">{{orders.total_order}}</span>
        </div>
        <input type="submit" class="formulario__btn" value="Finalizar Compra" />
      </div>
    </form>
    </section>
  </section>
</main>