    <main>
        <!--Banner Principal-->
        <section class="l-banner-principal">
            <img src="/upload/img/banner-Acompanhe-seu-pedido.png" alt="Escrita acompanhe seu pedido">
        </section>
        <header class="l-container-titlle">
            <h1 class="c-status-titlle">Pedido realizado com sucesso</h1>
        </header>
        <section class="l-container__status-pedido">
            <p>
                Olá {{users.user_name}} , o seu pedido está sendo processado. <br>
                Assim que for aprovado, será enviado uma mensagem de confirmação de pagamento. <br>
                Caso queira saber o status atual do seu pedido, acesse o link.
            </p>
            <span class="l-status-btn">
                <a class="c-status-btn" href="/meu-pedido/{{orders.id_order}}">Meu Pedido</a>
            </span>
        </section>
        <section class="l-status__information">
            <h2 class="c-status-txt">Resumo do Pedido</h2>
            <div class="container-section__information">
                <div class="c-information pedido">
                    <p class="c-server-option">Número do Pedido</p>
                    <p class="c-customer-request">{{orders.id_order}}</p>
                </div>
                <div class="c-information pedaços">
                    <p class="c-server-option">Quantidade de Pedaços</p>
                    <p class="c-customer-request"> {{orders.qnt_slice}} </p>
                </div>
                <div class="c-information sabores">
                    <p class="c-server-option">Sabores</p>
                    <p class="c-customer-request">{{orders.flavor_1}} {{orders.flavor_2}}</p>
                </div>
                <div class="c-information massa">
                    <p class="c-server-option">Espessura da Massa</p>
                    <p class="c-customer-request">{{orders.type_pasta}}</p>
                </div>
                <div class="c-information borda-recheio">
                    <p class="c-server-option">Recheio da Borda</p>
                    <p class="c-customer-request">{{orders.type_border}}</p>
                </div>
                <div class="c-information adicionais">
                    <p class="c-server-option">Adicionais</p>
                    <p class="c-customer-request">{{orders.item_add_1}} {{orders.item_add_2}}</p>
                </div>
                <div class="c-information observacao">
                    <p class="c-server-option">Observações</p>
                    <p class="c-customer-request c-observation">{{orders.obs}}</p>
                </div>
                <div class="c-information pagamento-forma">
                    <p class="c-server-option">Forma de Pagamento</p>
                    <p class="c-customer-request">{{banks.payment}}</p>
                </div>
                <div class="c-information transacao-status">
                    <p class="c-server-option">Status da Transação</p>
                    <p class="c-customer-request">{{orders.status_order}}</p>
                </div>
                <div class="c-information preco">
                    <p class="c-server-option">TOTAL</p>
                    <p class="c-customer-request"> R$ {{orders.total_order}}</p>
                </div>
            </div>
        </section>
        <!--<section class="l-container__payment">
            <h3>Pix</h3>
                <p>Segue a chave <strong>pix</strong> para efetuar o pagamento</p>
                <p class="c-payment">0215488565487f1d325</p>
        </section>-->
    </main>